// Palette Biloba Flower & Purple Heart
$primary-color: #602ea9; 
$accent-color: #ad6be4;     
$bg-light: #fdfcff;        
$secondary-bg: #d0b7ee;   
$text-main: #2d265a;      

// Font
$font-stack: 'Inter', sans-serif; 